@import "tailwindcss";

#root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
